body.variation-individual {
  background-color: #f9f7e8;
  color: #ffffff;
  line-height: 1.875;
}
body.variation-individual .nav-placeholder {
  display: none;
}
body.variation-individual.no-bg-image {
  background-color: #222222;
}
body.variation-individual.no-bg-image .sp-default-logo {
  display: block;
}
body.variation-individual.no-bg-image .sp-secondary-logo,
body.variation-individual.no-bg-image .sp-secondary-ratina-logo {
  display: none;
}
body.variation-individual.no-bg-image #sp-header.transparent-header.menu-fixed {
  background: rgba(64,64,64,0.95);
}
body.variation-individual.no-bg-image #sp-header.transparent-header .container .row {
  background: transparent;
}
body.variation-individual.no-bg-image #sp-header.transparent-header .sp-megamenu-parent > li > a {
  color: #fff;
}
.variation-individual .sppb-btn.sppb-btn-link,
.variation-individual a {
  color: #02a222;
}
.variation-individual .sppb-btn.sppb-btn-link:hover,
.variation-individual a:hover {
  color: #017017;
}
.variation-individual .sp-default-logo,
.variation-individual .sp-secondary-ratina-logo {
  display: none;
}
.variation-individual section .sppb-section-title .sppb-title-subheading {
  font-weight: 300;
  color: #303030;
  letter-spacing: 0.27px;
  line-height: 1.666 !important;
}
.variation-individual #sp-header {
  left: 0;
  padding: 0;
  position: absolute;
  top: 0;
  background: transparent;
  width: 100%;
}
.variation-individual #sp-header.transparent-header {
  -webkit-transition: .3s;
  transition: .3s;
}
.variation-individual #sp-header.transparent-header.menu-fixed {
  background: rgba(255,255,255,0.95);
}
.variation-individual #sp-header.transparent-header.menu-fixed .container .row {
  background-color: transparent;
}
.variation-individual #sp-header.transparent-header .logo {
  -webkit-transition: .3s;
  transition: .3s;
}
.variation-individual #sp-header.transparent-header .container .row {
  margin: 0;
}
.variation-individual #sp-header.transparent-header .container .row #sp-menu {
  padding-right: 0;
}
.variation-individual #sp-header.transparent-header .sp-megamenu-parent {
  -webkit-transition: .3s;
  transition: .3s;
}
.variation-individual #sp-header.transparent-header .sp-megamenu-parent > li > a {
  color: #000;
}
.variation-individual #sp-header.transparent-header .sp-megamenu-parent > li > a::before {
  background: #02a222;
}
.variation-individual #sp-header.transparent-header #offcanvas-toggler {
  -webkit-transition: .3s;
  transition: .3s;
}
.variation-individual #sp-header.transparent-header #offcanvas-toggler > i {
  color: #02a222;
}
.variation-individual .sp-page-title {
  margin-top: 145px;
  padding-bottom: 0;
}
.variation-individual .sp-page-title .breadcrumb {
  background: none;
  display: none;
}
.variation-individual .ares-hero-section .sppb-row-container {
  align-items: center;
  -webkit-align-items: center;
  display: -webkit-flex;
  display: flex;
  height: 100%;
}
.variation-individual .ares-hero-section .sppb-magnific-popup {
  margin-left: 35px;
}
.variation-individual .ares-hero-section .sppb-magnific-popup span {
  text-align: center;
}
.variation-individual .ares-hero-section .sppb-magnific-popup span i {
  display: inline-block;
  padding-left: 2px;
}
.variation-individual .sppb-modal-content-wrapper .sppb-modal-video-content {
  position: absolute;
  left: auto;
  right: 20px;
  top: auto;
  bottom: 30px;
}
.variation-individual .sppb-modal-content-wrapper .sppb-modal-video-content * {
  float: right;
  clear: both;
}
.variation-individual .sppb-modal-content-wrapper .sppb-modal-video-content p {
  font-weight: 700;
}
.variation-individual .sppb-modal-content-wrapper .sppb-poup-btn a span i {
  display: inline-block;
  padding-left: 2px;
}
.variation-individual .sppb-addon-testimonial .sppb-media-body blockquote {
  font-size: 24px;
  font-weight: 300;
  border: 0;
  margin: 0;
  line-height: 31px;
  padding: 0;
  color: #fff;
}
.variation-individual .sppb-addon-testimonial .sppb-media-body blockquote footer {
  color: #fff;
  margin-top: 31px;
}
.variation-individual .sppb-addon-testimonial .sppb-media-body blockquote footer::before {
  display: none;
}
.variation-individual .sppb-addon-testimonial .sppb-media-body blockquote footer strong {
  font-size: 15px;
}
.variation-individual .sppb-addon-testimonial .sppb-media-body blockquote footer cite {
  font-weight: 300;
  font-size: 16px;
  font-style: normal;
  display: block;
}
.variation-individual .sppb-carousel .sppb-carousel-inner .sppb-item img {
  width: 100%;
}
.variation-individual .sppb-carousel .sppb-carousel-indicators {
  bottom: 30px;
  margin-bottom: 0;
}
.variation-individual .sppb-carousel .sppb-carousel-indicators li {
  width: 10px;
  height: 10px;
  border: 0;
  margin: 0 12px;
  background: #f2e3df;
}
.variation-individual .sppb-carousel .sppb-carousel-indicators li.active {
  background: #fcff00;
}
.variation-individual .modal-icon-hover a.sppb-modal-selector span {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.variation-individual .modal-icon-hover a.sppb-modal-selector:hover span {
  background: #017017 !important;
  color: #fff !important;
}
.variation-individual .blog article.item {
  background: #fff none repeat scroll 0 0;
  border: medium none;
  margin-bottom: 20px;
  padding: 35px 30px 25px;
}
.variation-individual #sp-page-builder .sppb-section-title {
  margin-bottom: 85px;
}
.variation-individual.layout-blog .sp-page-title,
.variation-individual.view-article .sp-page-title {
  padding-bottom: 0;
  padding-top: 120px;
}
.variation-individual.layout-blog .sp-page-title .title-wrapper h2,
.variation-individual.view-article .sp-page-title .title-wrapper h2 {
  font-size: 46px;
  font-weight: 400;
  margin-bottom: 30px;
}
.variation-individual.layout-blog .sp-page-title .title-wrapper h3,
.variation-individual.view-article .sp-page-title .title-wrapper h3 {
  font-size: 18px;
  max-width: 780px;
  display: inline-block;
  font-weight: 300;
  line-height: 1.67;
}
.variation-individual.layout-blog .sp-page-title .title-wrapper .breadcrumb,
.variation-individual.view-article .sp-page-title .title-wrapper .breadcrumb {
  display: none;
}
.variation-individual.view-article #sp-main-body {
  padding-top: 80px;
}
.variation-individual .pagination-wrapper {
  margin-top: 50px;
}
.sppb-addon-social-media.individual-social-icon {
  text-align: center;
  margin-bottom: 42px;
}
.sppb-addon-social-media.individual-social-icon a {
  font-size: 12px;
  display: inline-block;
  height: 25px;
  width: 25px;
  line-height: 25px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  position: relative;
  top: -8px;
  margin: 0 3px;
}
.sppb-addon-social-media.individual-social-icon a.facebook {
  background: #39579a;
}
.sppb-addon-social-media.individual-social-icon a.twitter {
  background: #50abf1;
}
.sppb-addon-social-media.individual-social-icon a.tumblr {
  background: #34455d;
}
.sppb-addon-social-media.individual-social-icon a.gplus {
  background: #df4a32;
}
.indivisual-call-to-action .sppb-addon-cta {
  padding: 334px 0 340px !important;
}
.indivisual-call-to-action .sppb-addon-cta .sppb-cta-title {
  display: inline-block;
  background: #02a222;
  padding: 2px 20px 4px;
}
.indivisual-call-to-action .sppb-addon-cta .sppb-cta-title span {
  color: #fdf06f;
  display: inline-block;
  font-weight: 700;
}
.indivisual-call-to-action .sppb-addon-cta .sppb-cta-subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 1 !important;
  margin-bottom: 5px;
}
.indivisual-call-to-action .sppb-addon-cta .sppb-cta-text {
  display: none;
}
.indivisual-call-to-action .sppb-btn.sppb-btn-link {
  font-weight: 400;
  font-size: 12px;
  text-decoration: underline;
  color: #fff;
}
.sppb-addon-ajax-contact .sppb-ajaxt-contact-form.has-label .sppb-form-group {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.sppb-addon-ajax-contact .sppb-ajaxt-contact-form.has-label label {
  min-width: 100px;
}
.sppb-addon-ajax-contact .sppb-ajaxt-contact-form.has-label label:after {
  content: "*";
  margin-left: 6px;
  color: #02a222;
}
.sppb-addon-ajax-contact.layout-two .sppb-form-group-left,
.sppb-addon-ajax-contact.layout-two .sppb-form-group-right {
  float: left;
  width: 50%;
}
.sppb-addon-ajax-contact.layout-two .sppb-form-group-left {
  padding-right: 15px;
}
.sppb-addon-ajax-contact.layout-two .sppb-form-group-right {
  padding-left: 15px;
}
.sppb-addon-ajax-contact.layout-two .sppb-ajaxt-contact-form .sppb-form-group {
  width: 100%;
}
.sppb-addon-ajax-contact.layout-two .sppb-ajaxt-contact-form .sppb-form-group textarea {
  min-height: 180px;
}
.sppb-addon-ajax-contact.layout-two button {
  margin: 25px 0 0 100px !important;
  padding: 14px 30px;
  float: left;
}
.refil-img {/* width: 150px; */display: block;margin: 0 auto;}

.sp-simpleportfolio .sp-simpleportfolio-description {
  width: 100%;
  margin: 15px 0 15px 0!important;
  color: #aaa!important;
  cursor: default;
}